@import "compass"
@import "compass/typography/text/replacement"
@import "compass/layout/sticky-footer"

// HTML5 Boilerplate Colors
//  edit, but don't remove these
$h5bp-text-selection: #FF5E99
$h5bp-webkit-tap:     #FF5E99

@import "html5boilerplate/main"

// Uncomment to use Blueprint Grid System
// @import "blueprintgrid"

// Uncomment to use 960.gs Grid System
//  don't forget to uncomment the "require 'ninesixty'" line in config.rb!
@import "960grid"

@import partials/definitions
@import partials/common
@import partials/mixins

@import 960/text

+text($font-futura)
// Your own styles go here.

@include sticky-footer(125px, "#container", "#root-footer", "#footer-container")

#container
  @include grid-container
  header, #main-content, footer
    @include grid(12)
  #sidebar
    @include grid(3)
    @include alpha
  article
    @include grid(9)
    @include omega
  #root-footer
    clear: both
  header
    height: 120px
    h1
      height: 76px
      @include replace-text("header-logo.png", 0px)
      margin-bottom: 0
    h2
      font-size: 1em
      margin-left: 160px

#footer-container
  @include grid-container
  footer
    @include grid(12)

article
  aside
    float: right
  .map
    width: 425px

#contacto
  dt, dd
    display: inline

  min-height: 350px

#welcome
  @include center-page(852px, 524px / 2)

  h1
    @include replace-text("welcome-logo.png")
    width: 852px
    height: 152px

  h2
    text-align: right
    font-style: oblique



// These imports should remain below the bulk of the stylesheet so they can override correctly.
@import "html5boilerplate/nonsemantichelpers", "html5boilerplate/mediaqueries"