@import "compass"
@import "compass/typography/text/replacement"

// HTML5 Boilerplate Colors
//  edit, but don't remove these
$h5bp-text-selection: #FF5E99
$h5bp-webkit-tap:     #FF5E99

@import "html5boilerplate/main"

// Uncomment to use Blueprint Grid System
// @import "blueprintgrid"

// Uncomment to use 960.gs Grid System
//  don't forget to uncomment the "require 'ninesixty'" line in config.rb!
@import "960grid"

@import partials/definitions
@import partials/common
@import partials/mixins

@import 960/text

+text($font-futura)
// Your own styles go here.
section.welcome
  @include center-page(852px, 524px / 2)

  h1
    @include replace-text("logo.png")
    width: 852px
    height: 152px

  h2
    text-align: right
    font-style: oblique



// These imports should remain below the bulk of the stylesheet so they can override correctly.
@import "html5boilerplate/nonsemantichelpers", "html5boilerplate/mediaqueries"