= partial 'common/header'
= partial 'common/sidebar'

%section#content
  %article
    %h1 Servicio Accidentes Viales:
    %p Informes técnicos y/o análisis pericial completo.
    %p Determinación de puntos de Pericia.
    %p Reconocimiento del lugar del suceso y relevamiento de rastros in situ.
    %p Análisis de declaraciones de los protagonistas del suceso.
    %p Determinación de velocidades de impacto.
    %p Determinación de la correspondencia de daños entre los rodados partícipes del suceso.
    %p Reconstrucción histórica del accidente.
    %p Animacion en 3D del suceso.
    %p Fotografías digitales.

= partial 'common/footer'
