= partial 'common/header'
= partial 'common/sidebar'

%section#content
  %article
    %h1 Servicio Daños materiales:
    %p Inspección ocular o por fotografías.
    %p Valoración de daño material en vehículos y estimación de tiempo de reparación.
    %p Estimación de destrucciones totales, según clausula de DT.
    %p Fotografías digitales.

= partial 'common/footer'
