= partial 'common/header'
= partial 'common/sidebar'

%article
  %h1 Servicio Seguros:
  %p Contacto telefónico con el cliente para acordar fecha de inspección.
  %p Informes previos de aseguramientos con valoración de daños.
  %p Cotización de siniestros.
  %p Verificación de reparaciones.

= partial 'common/footer'
