= partial 'common/header'
= partial 'common/sidebar'

%article
  %h1 Sobre Nosotros:
  %p Estudio NACAR, es una empresa dedicada al servicio de asesoramiento tecnico para empresas o profesionales que operen en el rubro automotor, privilegiando en nuestra labor diaria la responsabilidad, transparencia, puntualidad y el compromiso. 
  %p Somos un grupo de Licenciados en Accidentología y Prevención Vial con sólida formación en la materia y disciplinas afines. Precisamente nos ocupamos de investigar y analizar de manera integral los accidentes de tránsito.
  %p Como es de su conocimiento, esta rama posee una gran diversidad de factores que es importante conocer para su conveniencia; por ello junto con nuestros conocimientos y una amplia experiencia en el sector, brindamos un trabajo a la altura de sus necesidades.
  %p Los invitamos a conocer nuetros servicios y por supuesto nos encontramos a disposicion para cualquier inquietud.

= partial 'common/footer'
