= partial 'common/header'
= partial 'common/sidebar'

%section#content
  %article#contacto
    %aside.map
      %iframe(width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&msid=217753678813864591979.0004a5f24b9af73a3a20c&ie=UTF8&amp;ll=-34.623546,-58.519868&amp;spn=0,0&output=embed")
    %dl
      %dt Direccion:
      %dd Pje. El Nene 1856 C.A.B.A. (C1408CYB)
    %dl
      %dt Tel/Fax:
      %dd (011) 4566-5694

    %p Por consultas via email: #{mail_to "info@estudionacar.com.ar"}

= partial 'common/footer'
